connection {
	visibility: hidden;
}

.showConsecutivePerfect connection.consecutivePerfect {
	visibility: visible;
	border: 2px solid rgb(130,137,172);
	border-radius: 25px;
	margin-left: 15px;
}

.showDescendAfterBflat connection.descendAfterBflat{
	visibility: visible;
	border: 2px solid rgb(200,207,242);
	border-radius: 25px;
}

.showImperfectStartingOrEndingInterval connection.imperfectStartingOrEndingInterval {
	visibility: visible;
	border: 2px solid rgb(150,157,192);
	border-radius: 25px;
	margin-left: 17px;
}

.showIncorrectHarmony connection.harmonic {
	visibility: visible;
	border: 2px solid rgb(190,197,232);
	border-radius: 25px;
	margin-left: 19px;
}

.showIncorrectMelody connection.melodic {
	visibility: visible;
	border: 2px solid rgb(50,57,92);
	border-radius: 25px;
}

.showInternalUnison connection.internalUnison {
	visibility: visible;
	border: 2px solid rgb(60,67,102);
	border-radius: 25px;
	margin-left: 1px;
}

.showLargerThan12th connection.largerThan12th {
	visibility: visible;
	border: 2px solid rgb(70,77,112);
	border-radius: 25px;
	margin-left: 3px;
}

.showLeapIn3rdSpecies connection.leapIn3rdSpecies {
	visibility: visible;
	border: 2px solid rgb(210,217,252);
	border-radius: 25px;
}

.showMelodic6th connection.melodic6th {
	visibility: visible;
	border: 2px solid rgb(80,87,122);
	border-radius: 25px;
	margin-left: 5px;
}

.showOutlineOfTritone connection.outlineOfTritone {
	visibility: visible;
	border: 2px solid rgb(80,87,122);
	border-radius: 25px;
	margin-left: 5px;
}

.showParallelPerfect connection.parallelPerfect {
	visibility: visible;
	border: 2px solid rgb(90,97,132);
	border-radius: 25px;
	margin-left: 7px;
}

.showPerfectApproachedBySimilarMotion connection.perfectApproachedBySimilarMotion {
	visibility: visible;
	border: 2px solid rgb(100,107,142);
	border-radius: 25px;
	margin-left: 9px;
}

.showRepeatedNoteInCounterpoint connection.repeatedNoteInCounterpoint {
	visibility: visible;
	border: 2px solid rgb(200,207,242);
	border-radius: 25px;
}

.showSkippingUpToWeakQuarter connection.skippingUpToWeakQuarter {
	visibility: visible;
	border: 2px solid rgb(200,207,242);
	border-radius: 25px;
}

.showTooManyParallelIntervals connection.tooManyParallelIntervals {
	visibility: visible;
	border: 2px solid rgb(110,117,152);
	border-radius: 25px;
	margin-left: 11px;
}

.showVoiceCrossing connection.voiceCrossing {
	visibility: visible;
	border: 2px solid rgb(120,127,162);
	border-radius: 25px;
	margin-left: 13px;
}
