connection {
	visibility: hidden;
}

.showIncorrectMelody connection.melodic {
	visibility: visible;
	border: 2px solid red;
	border-radius: 25px;
}

.showIncorrectHarmony connection.harmonic {
	visibility: visible;
	border: 2px solid orange;
	border-radius: 25px;
}

.showVoiceCrossing connection.voiceCrossing {
	visibility: visible;
	border: 2px solid blue;
	border-radius: 25px;
	margin-left: 5px;
}

.showParallelFifths connection.parallelFifth {
	visibility: visible;
	border: 2px solid brown;
	border-radius: 25px;
	margin-left: 7px;
}

.showParallelOctaves connection.parallelOctave {
	visibility: visible;
	border: 2px solid green;
	border-radius: 25px;
	margin-left: 9px;
}

.showDirectFifths connection.directFifth {
	visibility: visible;
	border: 2px solid purple;
	border-radius: 25px;
	margin-left: 11px;
}

.showDirectOctaves connection.directOctave {
	visibility: visible;
	border: 2px solid gray;
	border-radius: 25px;
	margin-left: 13px;
}