connection {
	visibility: hidden;
}

.showConsecutivePerfect connection.consecutivePerfect {
	visibility: visible;
	border: 2px solid purple;
	border-radius: 25px;
	margin-left: 11px;
}

.showImperfectStartingOrEndingInterval connection.imperfectStartingOrEndingInterval {
	visibility: visible;
	border: 2px solid red;
	border-radius: 25px;
}

.showIncorrectHarmony connection.harmonic {
	visibility: visible;
	border: 2px solid orange;
	border-radius: 25px;
}

.showIncorrectMelody connection.melodic {
	visibility: visible;
	border: 2px solid red;
	border-radius: 25px;
}

.showInternalUnison connection.internalUnison {
	visibility: visible;
	border: 2px solid brown;
	border-radius: 25px;
	margin-left: 7px;
}

.showLargerThan12th connection.largerThan12th {
	visibility: visible;
	border: 2px solid orange;
	border-radius: 25px;
}

.showMelodic6th connection.melodic6th {
	visibility: visible;
	border: 2px solid blue;
	border-radius: 25px;
	margin-left: 5px;
}

.showParallelPerfect connection.parallelPerfect {
	visibility: visible;
	border: 2px solid brown;
	border-radius: 25px;
	margin-left: 7px;
}

.showPerfectApproachedBySimilarMotion connection.perfectApproachedBySimilarMotion {
	visibility: visible;
	border: 2px solid purple;
	border-radius: 25px;
	margin-left: 11px;
}

.showTooManyParallelIntervals connection.tooManyParallelIntervals {
	visibility: visible;
	border: 2px solid brown;
	border-radius: 25px;
	margin-left: 7px;
}

.showVoiceCrossing connection.voiceCrossing {
	visibility: visible;
	border: 2px solid blue;
	border-radius: 25px;
	margin-left: 5px;
}
