<div class="modal fade" id="counterpoint-rule-definition" tabindex="-1" role="dialog" aria-labelledby="Wine">

    <div class="modal-dialog" role="document">

        <div class="modal-content" ng-controller="pseudoComposerController">

            <div class="modal-body">

                <div ng-if="ruleDefinition == 'unequalNumberOfBeats'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'imperfectStartingOrEndingInterval'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'incorrectAccidental'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'incorrectMelody'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'incorrectHarmony'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'repeatedNotes'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'parallelPerfect'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'tooMsnyParallelIntervals'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'hasTooManySkips'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'internalUnison'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'consecutiveSkips'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'largerThan12th'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'largeSkipOnTop'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'voiceCrossing'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'melodic6th'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'repeatedNoteInCounterpoint'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'leapIn3rdSpecies'">
                    <p>TO WRITE</p>
                </div>

                <div ng-if="ruleDefinition == 'consecutivePerfect'">
                    <p>TO WRITE</p>
                </div>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>

            </div>

        </div>

    </div>

</div>