<div class="modal fade" id="staff-input" tabindex="-1" role="dialog" aria-labelledby="Wine">

    <div class="modal-dialog" role="document">

        <div class="modal-content" ng-controller="inputController">

            <div class="modal-body" ng-class="{showIncorrectMelody: incorrectMelody[1], showIncorrectAccidentals: incorrectAccidental[1], showRepeatedNotes: repeatedNotes[1], showIncorrectHarmony: incorrectHarmony[1], showVoiceCrossing: voiceCrossing[1], showParallelPerfect: parallelPerfect[1], showConsecutivePerfect: consecutivePerfect[1], showPerfectApproachedBySimilarMotion: perfectApproachedBySimilarMotion[1], showTooManyParallelIntervals: tooManyParallelIntervals[1], showImperfectStartingOrEndingInterval: imperfectStartingOrEndingInterval[1], showConsecutiveSkips: consecutiveSkips[1], showLargeSkipOnTop: largeSkipOnTop[1], showLargerThan12th: largerThan12th[1], showInternalUnison: internalUnison[1], showMelodic6th: melodic6th[1]}">

                <div class="row toolbar">

                    <div ng-click="addAccidental('sharp')" class="pull-left toolbar-item accidental-item sharp" ><img src="img/sharp.png"></div>
                    <div ng-click="addAccidental('flat')" class="pull-left toolbar-item accidental-item flat"><img src="img/flat.png"></div>
                    <div ng-click="addAccidental('natural')" class="pull-left toolbar-item accidental-item natural"><img src="img/natural.png"></div>
                    <div ng-click="deleteNote()" class="pull-left toolbar-item"><img class="delete" src="img/delete.png"></div>
                    <div class="pull-left toolbar-item break"></div>
                    <div ng-click="changeDuration('quarter')" class="pull-left toolbar-item quarter-item" ng-class="duration === 'quarter' ? 'active' : ''"><img src="img/quarterup.png"></div>
                    <div ng-click="changeDuration('half')" class="pull-left toolbar-item half-item" ng-class="duration === 'half' ? 'active' : ''"><img src="img/halfup.png"></div>
                    <div ng-click="changeDuration('whole')" class="pull-left toolbar-item whole-item" ng-class="duration === 'whole' ? 'active' : ''"><img class="whole" src="img/whole.png"></div>

                </div>

                <div class="row" ng-repeat="i in getArrayOfSizeNumber(inputParams.numberOfVoices) track by $index">

                    <div class="staffEntry" ng-class="isActiveStaff($index)" ng-click="toggleActiveStaff($index)">

                        <h4>Voice {{($index+1)}} - {{inputParams.voiceType[$index]}}</h4>

                        <div class="staff">

                            <div class="clef"><img class="clef" ng-class="getClefName(inputParams.clef[$index])" ng-src="{{inputParams.clef[$index]}}" alt="img/trebleclef.png"></div>

                            <div class="notehead floating" ng-style="{'top': floatingNoteheadTopPos + 'px', 'left': getLeftPos($index) + 'px'}" ng-click="floatingNoteheadClicked($event, $index);"></div>

                            <div class="space hoverable slot0" data-staff-index="{{$index}}" ng-mouseover="showFloatingNotehead(19)" ng-click="insertNote('.slot0', 19, $event, $index)"></div>

                            <div class="space hoverable slot1" data-staff-index="{{$index}}" ng-mouseover="showFloatingNotehead(29)" ng-click="insertNote('.slot1', 29, $event, $index)">
                                <div class="line" ng-click="insertNote('.slot1', 29, $event, $index); $event.stopPropagation();"></div>
                            </div>

                            <div class="space hoverable slot2" data-staff-index="{{$index}}" ng-mouseover="showFloatingNotehead(39)" ng-click="insertNote('.slot2', 39, $event, $index)"></div>

                            <div class="space hoverable slot3" data-staff-index="{{$index}}" ng-mouseover="showFloatingNotehead(48)" ng-click="insertNote('.slot3', 48, $event, $index)">
                                <div class="line" ng-click="insertNote('.slot3', 48, $event, $index); $event.stopPropagation();"></div>
                            </div>

                            <div class="space hoverable slot4" data-staff-index="{{$index}}" ng-mouseover="showFloatingNotehead(59)" ng-click="insertNote('.slot4', 59, $event, $index)"></div>

                            <div class="space hoverable slot5" data-staff-index="{{$index}}" ng-mouseover="showFloatingNotehead(70)" ng-click="insertNote('.slot5', 70, $event, $index)">
                                <div class="line" ng-click="insertNote('.slot5', 70, $event, $index); $event.stopPropagation();"></div>
                            </div>

                            <div class="space hoverable slot6" data-staff-index="{{$index}}" ng-mouseover="showFloatingNotehead(79)" ng-click="insertNote('.slot6', 79, $event, $index)"></div>

                            <div class="space hoverable slot7" data-staff-index="{{$index}}" ng-mouseover="showFloatingNotehead(90)" ng-click="insertNote('.slot7', 90, $event, $index)">
                                <div class="line" ng-click="insertNote('.slot7', 90, $event, $index); $event.stopPropagation();" ></div>
                            </div>

                            <div class="space hoverable slot8" data-staff-index="{{$index}}" ng-mouseover="showFloatingNotehead(99)" ng-click="insertNote('.slot8', 99, $event, $index)"></div>

                            <div class="space hoverable slot9" data-staff-index="{{$index}}" ng-mouseover="showFloatingNotehead(111)" ng-click="insertNote('.slot9', 111, $event, $index)">
                                <div class="line" ng-click="insertNote('.slot9', 111, $event, $index); $event.stopPropagation();"></div>
                            </div>

                            <div class="space hoverable slot10" data-staff-index="{{$index}}" ng-mouseover="showFloatingNotehead(119)" ng-click="insertNote('.slot10', 119, $event, $index)"></div>

                        </div>

                    </div>

                </div>

                <div class="row" ng-show="counterpointChecked">

                    <div class="row">
                        <span ng-click="toggleAll(true);" class="toggle" ng-class="{activeToggle: areAllShown()}">Show All</span>
                        <span>|</span>
                        <span ng-click="toggleAll(false);" class="toggle" ng-class="{activeToggle: areAllHidden()}">Hide All</span>
                    </div>

                    <div class="col-md-6 rules" ng-class="{active: hasBrokenHardRules}">

                        <h2>Hard Rules</h2>

                        <div class="row col-md-10 col-md-offset-1" ng-show="unequalNumberOfBeats[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('unequalNumberOfBeats')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Unequal number of beats in voices</p>

                        </div>

                        <div class="row col-md-10 col-md-offset-1" ng-show="imperfectStartingOrEndingInterval[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('imperfectStartingOrEndingInterval')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Imperfect first or last interval</p>
                                <div class="pull-right">

                                    <span ng-click="toggleShowValue(imperfectStartingOrEndingInterval, true);" class="toggle" ng-class="{activeToggle: imperfectStartingOrEndingInterval[1]}">Show</span>
                                    <span>|</span>
                                    <span ng-click="toggleShowValue(imperfectStartingOrEndingInterval, false);" class="toggle" ng-class="{activeToggle: !imperfectStartingOrEndingInterval[1]}">Hide</span>

                                </div>

                        </div>

                        <div class="row col-md-10 col-md-offset-1" ng-show="incorrectAccidental[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('incorrectAccidental')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Invalid accidental</p>
                            <div class="pull-right">

                                <span ng-click="toggleShowValue(incorrectAccidental, true);" class="toggle" ng-class="{activeToggle: incorrectAccidental[1]}">Show</span>
                                <span>|</span>
                                <span ng-click="toggleShowValue(incorrectAccidental, false);" class="toggle" ng-class="{activeToggle: !incorrectAccidental[1]}">Hide</span>

                            </div>

                        </div>

                        <div class="row col-md-10 col-md-offset-1" ng-show="incorrectMelody[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('incorrectMelody')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Invalid melodic interval</p>
                                <div class="pull-right">

                                    <span ng-click="toggleShowValue(incorrectMelody, true);" class="toggle" ng-class="{activeToggle: incorrectMelody[1]}">Show</span>
                                    <span>|</span>
                                    <span ng-click="toggleShowValue(incorrectMelody, false);" class="toggle" ng-class="{activeToggle: !incorrectMelody[1]}">Hide</span>

                                </div>

                        </div>

                        <div class="row col-md-10 col-md-offset-1" ng-show="incorrectHarmony[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('incorrectHarmony')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Invalid harmonic interval</p>
                            <div class="pull-right">

                                <span ng-click="toggleShowValue(incorrectHarmony, true);" class="toggle" ng-class="{activeToggle: incorrectHarmony[1]}">Show</span>
                                <span>|</span>
                                <span ng-click="toggleShowValue(incorrectHarmony, false);" class="toggle" ng-class="{activeToggle: !incorrectHarmony[1]}">Hide</span>

                            </div>

                        </div>

                        <div class="row col-md-10 col-md-offset-1" ng-show="repeatedNotes[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('repeatedNotes')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Too many note repetitions</p>
                            <div class="pull-right">

                                <span ng-click="toggleShowValue(repeatedNotes, true);" class="toggle" ng-class="{activeToggle: repeatedNotes[1]}">Show</span>
                                <span>|</span>
                                <span ng-click="toggleShowValue(repeatedNotes, false);" class="toggle" ng-class="{activeToggle: !repeatedNotes[1]}">Hide</span>

                            </div>

                        </div>

                        <div class="row col-md-10 col-md-offset-1" ng-show="parallelPerfect[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('parallelPerfect')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Parallel perfect intervals</p>
                            <div class="pull-right">

                                <span ng-click="toggleShowValue(parallelPerfect, true);" class="toggle" ng-class="{activeToggle: parallelPerfect[1]}">Show</span>
                                <span>|</span>
                                <span ng-click="toggleShowValue(parallelPerfect, false);" class="toggle" ng-class="{activeToggle: !parallelPerfect[1]}">Hide</span>

                            </div>

                        </div>

                        <div class="row col-md-10 col-md-offset-1" ng-show="tooManyParallelIntervals[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('tooManyParallelIntervals')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Too many consecutive parallel intervals</p>
                            <div class="pull-right">

                                <span ng-click="toggleShowValue(tooManyParallelIntervals, true);" class="toggle" ng-class="{activeToggle: tooManyParallelIntervals[1]}">Show</span>
                                <span>|</span>
                                <span ng-click="toggleShowValue(tooManyParallelIntervals, false);" class="toggle" ng-class="{activeToggle: !tooManyParallelIntervals[1]}">Hide</span>

                            </div>

                        </div>

                        <div class="row col-md-10 col-md-offset-1" ng-show="perfectApproachedBySimilarMotion[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('tooManyParallelIntervals')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Perfect interval approached by similar motion</p>
                            <div class="pull-right">

                                <span ng-click="toggleShowValue(perfectApproachedBySimilarMotion, true);" class="toggle" ng-class="{activeToggle: perfectApproachedBySimilarMotion[1]}">Show</span>
                                <span>|</span>
                                <span ng-click="toggleShowValue(perfectApproachedBySimilarMotion, false);" class="toggle" ng-class="{activeToggle: !perfectApproachedBySimilarMotion[1]}">Hide</span>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-6 rules" ng-show="counterpointChecked" ng-class="{active: hasBrokenSoftRules}">

                        <h2>Soft Rules</h2>

                        <div class="row col-md-10 col-md-offset-1" ng-show="hasMoreSkipsThanSteps[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('hasMoreSkipsThanSteps')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">More skips than steps</p>

                        </div>

                        <div class="row col-md-10 col-md-offset-1" ng-show="internalUnison[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('internalUnison')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Internal unison(s)</p>
                            <div class="pull-right">

                                <span ng-click="toggleShowValue(internalUnison, true);" class="toggle" ng-class="{activeToggle: internalUnison[1]}">Show</span>
                                <span>|</span>
                                <span ng-click="toggleShowValue(internalUnison, false);" class="toggle" ng-class="{activeToggle: !internalUnison[1]}">Hide</span>

                            </div>

                        </div>

                        <div class="row col-md-10 col-md-offset-1" ng-show="consecutiveSkips[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('consecutiveSkips')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Too many consecutive skips</p>
                            <div class="pull-right">

                                <span ng-click="toggleShowValue(consecutiveSkips, true);" class="toggle" ng-class="{activeToggle: consecutiveSkips[1]}">Show</span>
                                <span>|</span>
                                <span ng-click="toggleShowValue(consecutiveSkips, false);" class="toggle" ng-class="{activeToggle: !consecutiveSkips[1]}">Hide</span>

                            </div>

                        </div>

                        <div class="row col-md-10 col-md-offset-1" ng-show="largerThan12th[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('largerThan12th')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Interval larger than a 12th</p>
                            <div class="pull-right">

                                <span ng-click="toggleShowValue(largerThan12th, true);" class="toggle" ng-class="{activeToggle: largerThan12th[1]}">Show</span>
                                <span>|</span>
                                <span ng-click="toggleShowValue(largerThan12th, false);" class="toggle" ng-class="{activeToggle: !largerThan12th[1]}">Hide</span>

                            </div>

                        </div>

                        <div class="row col-md-10 col-md-offset-1" ng-show="largeSkipOnTop[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('largeSkipOnTop')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Large skip above smaller skip</p>
                            <div class="pull-right">

                                <span ng-click="toggleShowValue(largeSkipOnTop, true);" class="toggle" ng-class="{activeToggle: largeSkipOnTop[1]}">Show</span>
                                <span>|</span>
                                <span ng-click="toggleShowValue(largeSkipOnTop, false);" class="toggle" ng-class="{activeToggle: !largeSkipOnTop[1]}">Hide</span>

                            </div>

                        </div>

                        <div class="row col-md-10 col-md-offset-1" ng-show="voiceCrossing[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('voiceCrossing')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Crossed voices</p>
                            <div class="pull-right">

                                <span ng-click="toggleShowValue(voiceCrossing, true);" class="toggle" ng-class="{activeToggle: voiceCrossing[1]}">Show</span>
                                <span>|</span>
                                <span ng-click="toggleShowValue(voiceCrossing, false);" class="toggle" ng-class="{activeToggle: !voiceCrossing[1]}">Hide</span>

                            </div>

                        </div>

                        <div class="row col-md-10 col-md-offset-1" ng-show="melodic6th[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('melodic6th')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Melodic 6th used</p>
                            <div class="pull-right">

                                <span ng-click="toggleShowValue(melodic6th, true);" class="toggle" ng-class="{activeToggle: melodic6th[1]}">Show</span>
                                <span>|</span>
                                <span ng-click="toggleShowValue(melodic6th, false);" class="toggle" ng-class="{activeToggle: !melodic6th[1]}">Hide</span>

                            </div>

                        </div>

                        <div class="row col-md-10 col-md-offset-1" ng-show="consecutivePerfect[0]">

                            <img class="pull-left help-icon" src="img/help.png" ng-click="setDefinition('consecutivePerfect')" data-toggle="modal" data-target="#counterpoint-rule-definition">

                            <p class="pull-left">Consecutive perfect intervals</p>
                            <div class="pull-right">

                                <span ng-click="toggleShowValue(consecutivePerfect, true);" class="toggle" ng-class="{activeToggle: consecutivePerfect[1]}">Show</span>
                                <span>|</span>
                                <span ng-click="toggleShowValue(consecutivePerfect, false);" class="toggle" ng-class="{activeToggle: !consecutivePerfect[1]}">Hide</span>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        
            <div class="modal-footer">
      
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" data-toggle="modal" data-target="#counterpoint-type-input">Back</button>
                <button type="button" class="btn btn-default pull-right" ng-click="checkCounterpoint()">Check My Homework</button>
      
            </div>

        </div>

    </div>

</div>
